li {
	padding: 8px;
	margin: 2px;
	border-color: black;
	list-style-position:inside;
	width: 300px;
}

div > ul {
	padding-left: 0;
}

.liUnchecked {
	background-color: red;
	cursor: pointer;
}

.liChecked {
	background-color: green;
	cursor: pointer;
}

.liLoggedOut {
	background-color: #EEEEEE;
}

.hidden {
	visibility: hidden;
}

.table-row {
	display: table-row;
}

.center {
	margin: auto;
	display: table-row;
}

#loginBar {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: auto;
	display: table;
}

#questTreeDiv {
    margin: auto; 
    display: table;
}

#questSelectDiv {
	width: 230px;
	margin: auto;
}

#questName {
	margin: 0 0 10px 0;
	height: 23px;
	padding: 0;
	width: 200px;
}

#questSelect {
	width: 20px;
	height: 27px;
	margin: 0;
	padding: 0;
}

#questTree {
	width: 400px;
}