.hidden {
	visibility: hidden;
}

.table-row {
	display: table-row;
}

.center {
	margin: auto;
	display: table-row;
}

#loginBar {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: auto;
	display: table;
}

#questTreeDiv {
    margin: auto; 
    display: table;
}

#questName {
	margin-bottom: 10px;
	height: 23px;
	padding: 0px;
}

#questSelect {
	width: 20px;
	height: 27px;
	padding: 0px;
}